.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr 1fr;
    grid-template-areas: 
        "daily weekly"
        "daily weekly";
    gap: 1em;
    height: 100%;
    margin-left: 4em;
}
  
.grid-layout__weekly-schedule {
    grid-area: weekly;
}

.grid-layout__daily-schedule {
    grid-area: daily;
}