<form>
    <label for="date">Lesson Date</label>
    <input type="text" name="date" id="date" [(ngModel)]="lessonDate">
    <label for="start">Lesson Start</label>
    <input type="text" name="start" id="start" [(ngModel)]="lessonStart">
    <label for="type">Lesson Type</label>
    <input type="text" name="type" id="type" [(ngModel)]="lessonType">
    <select (change)="getSelected($event)">
        <option *ngFor="let student of students" [ngValue]="student">{{student}}</option>
    </select>
    <button (click)="addLesson()">Mentés</button>
</form>