<div class="student-layout">
    <!-- <form class="student-layout__form">
        <div class="form-name">
            <label for="name">Tanuló neve</label>
            <select name="name" id="name" class="form-select">
                <option *ngFor="let student of students" [ngValue]="student">{{ student.name }}</option>
            </select>
            <button (click)="searchStudent()" class="form-btn-search">Keresés</button>
        </div>
        <label for="date">Lesson Date</label>
        <input type="text" name="date" id="date" [(ngModel)]="lessonDate">
        <label for="start">Lesson Start</label>
        <input type="text" name="start" id="start" [(ngModel)]="lessonStart">
        <label for="type">Lesson Type</label>
        <input type="text" name="type" id="type" [(ngModel)]="lessonType">
        <select (change)="getSelected($event)">
            <option *ngFor="let student of students" [ngValue]="student">{{student}}</option>
        </select>
        <button (click)="addLesson()">Mentés</button>
    </form> -->
    <mat-form-field class="student-layout__form">
        <mat-label>Tanuló neve</mat-label>
        <mat-select [(value)]="selected">
            <mat-option *ngFor="let student of students" [value]="student">{{ student.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selected">
        <form #form="ngForm" class="student-layout__result">
            <mat-form-field>
                <input matInput placeholder="Név" [value]="selected.name" [(ngModel)]="selected.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" [value]="selected.email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefonszám" [value]="selected.telNum">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Születési dátum" [value]="selected.birthDate">
            </mat-form-field>
            <button class="result-btn" type="submit" (click)="save()" mat-button>Mentés</button> 
        </form>
    </ng-container>
</div>