<div class="lessons-layout">
    <form (ngSubmit)="addLesson()" #form="ngForm" class="form-lessons">
        <mat-form-field>
            <mat-select placeholder="Tanuló neve" [(ngModel)]="selected" name="student">
                <mat-option *ngFor="let student of students" [value]="student">
                    {{ student.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Óra dátuma" [(ngModel)]="lessonDate" name="date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Óra kezdete" [(ngModel)]="lessonStart" name="start">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Óra típusa" [(ngModel)]="lessonType" name="type">
        </mat-form-field>
        <button type="submit" [disabled]="!form.form.valid" class="form-btn-submit">
            Létrehozás
        </button>
    </form>
</div>