<div class="grid-weekly-schedule">
    <div class="flex-calendar-header">
        <div class="weekly-title">Heti beosztás</div>
        <form class="form-inline">
            <select class="calendar-form-year" name="year" id="year">
                <option value=2019>2019</option>
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
            </select>
            <select class="calendar-form-month" name="month" id="month">
                <option value="0">Január</option>
                <option value="1">Február</option>
                <option value="2">Március</option>
                <option value="3">Április</option>
                <option value="4">Május</option>
                <option value="5">Június</option>
                <option value="6">Július</option>
                <option value="7">Augusztus</option>
                <option value="8">Szeptember</option>
                <option value="9">Október</option>
                <option value="10">November</option>
                <option value="11">December</option>
            </select>
        </form>
        <button class="today" id="today"><i class="fas fa-home fa-lg"></i></button>
        <input type="input" id="hiddenfield" class="datepicker">
        <button class="select-date" id="datepicker"><i class="fas fa-calendar-alt fa-lg"></i></button>
        <button class="previous" id="previous"><i class="fas fa-angle-left fa-lg"></i></button>
        <button class="next" id="next"><i class="fas fa-angle-right fa-lg"></i></button>
    </div>
    <div class="weekly-details">
        <div class="calendar-container">
            <table class="calendar" id="calendar" cellspacing="0">
                <thead class="calendar-head">
                    <tr>
                        <th class="empty-head"></th>
                        <!-- <th id="0">12:00</th> -->
                        <th id="1">12:50</th>
                        <th id="2">13:40</th>
                        <th id="3">14:30</th>
                        <th id="4">15:20</th>
                        <th id="5">16:10</th>
                        <th id="6">17:00</th>
                        <th id="7">17:50</th>
                        <th id="8">18:40</th>
                        <th id="9">19:30</th>
                    </tr>
                </thead>

                <tbody class="calendar-body" id="calendar-body">
                    <!-- <tr *ngFor="let lesson of lessons"> -->
                        <td></td>
                        <td *ngFor="let lesson of lessons">{{ lesson.student }}</td>
                    <!-- </tr> -->
                </tbody>

            </table>
        </div>
    </div>
</div>